body {
    font-family: 'Poppins', sans-serif; /* A popular modern font */
    background-color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
}

h1 {
    color: #333;
    font-size: 3rem;
    font-weight: 700; /* Bold font */
    margin-bottom: 1.5rem;
}

button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 600; /* Semi-bold font */
    border: none;
    border-radius: 10px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #3e8e41;
}

.SectionJoueur {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 300px; /* Adjust width as needed */

}

label {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 0.8rem;
}

input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease-in-out;
}

input:focus {
    outline: none;
    border-color: #4caf50;
}

footer {
    background-color: #f5f5f5;
    border-top: 1px solid #ccc;
    padding: 1rem;
    margin-top: auto; /* Position footer at the bottom */
}